*{
    background-color: #ffb40e;
}

  

body{
    margin:0;
    padding:0;
}
.navbar-return{
    width: 100vw;
    height: 100vh;
}

nav{
    display:flex;
    background-color: #000000;
    flex-direction: column;
    font-family: 'Sunflower', sans-serif;
    max-width:  25vmax;
    font-size: 2.2em;
    font-weight:500;
    text-decoration: none;
    float:left;
    margin:0;
    padding:0;
    opacity: 0.9;
    height:100%;
    width:300px;
}

.Linker{
    background-color: #b8001e;
    max-width: min-content;
    color: #f5ece2;
    text-decoration:none;
    padding-top:.5em;
    padding-bottom:.5em;
    padding-left:.5em;
    padding-right:.5em;
    margin:.3em;
    text-shadow: #1d1e23 3px 2px;
    box-shadow:3px 3px #1d1e23;
    border-radius: 10%;
}

#sidebar-left{
    display: "flex";
    flex-direction: "column";
    width: "20%";
    align-content: left;
    height:100%;
    
}